<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.myshopnshare.model.User" />
		<mapping class="com.myshopnshare.model.Role" />
		<mapping class="com.myshopnshare.core.domain.PageViewed" />
		<mapping class="com.myshopnshare.core.domain.Ads" />
		<mapping class="com.myshopnshare.core.domain.Address" />
		<mapping class="com.myshopnshare.core.domain.Authorities" />
		<mapping class="com.myshopnshare.core.domain.Bank" />
		<mapping class="com.myshopnshare.core.domain.Comment" />
		<mapping class="com.myshopnshare.core.domain.ConfirmEmail" />
		<mapping class="com.myshopnshare.core.domain.CreditCard" />
		<mapping class="com.myshopnshare.core.domain.EmailAddress" />
		<mapping class="com.myshopnshare.core.domain.Face" />
		<mapping class="com.myshopnshare.core.domain.Friend" />
		<mapping class="com.myshopnshare.core.domain.Headline" />
		<mapping class="com.myshopnshare.core.domain.Item" />
		<mapping class="com.myshopnshare.core.domain.ItemCategory" />
		<mapping class="com.myshopnshare.core.domain.ItemOrderDetail" />
		<mapping class="com.myshopnshare.core.domain.ItemShippingDetail" />
		<mapping class="com.myshopnshare.core.domain.ItemVisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.VendorItemVisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.News" />
		<mapping class="com.myshopnshare.core.domain.NewsComment" />
		<mapping class="com.myshopnshare.core.domain.OrderDetail" />
		<mapping class="com.myshopnshare.core.domain.Payment" />
		<mapping class="com.myshopnshare.core.domain.Permission" />
		<mapping class="com.myshopnshare.core.domain.Person" />
		<mapping class="com.myshopnshare.core.domain.PersonVisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.Phone" />
		<mapping class="com.myshopnshare.core.domain.Photo" />
		<mapping class="com.myshopnshare.core.domain.PhotoCategory" />
		<mapping class="com.myshopnshare.core.domain.RequestFriend" />
		<mapping class="com.myshopnshare.core.domain.Scribble" />
		<mapping class="com.myshopnshare.core.domain.AdsTag" />
		<mapping class="com.myshopnshare.core.domain.ItemTag" />
		<mapping class="com.myshopnshare.core.domain.PersonTag" />
		<mapping class="com.myshopnshare.core.domain.Vendor" />
		<mapping class="com.myshopnshare.core.domain.VendorItem" />
		<mapping class="com.myshopnshare.core.domain.NewsVisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.ScribbleVisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.VisibilityDomain" />
		<mapping class="com.myshopnshare.core.domain.ShoppingCart" />
		<mapping class="com.myshopnshare.core.domain.Events" />
		<mapping class="com.myshopnshare.core.domain.PermissionVisibility" />
		<mapping class="com.myshopnshare.core.domain.Commercial" />
		<mapping class="com.myshopnshare.core.domain.CommercialTag" />
		<mapping class="com.myshopnshare.core.domain.FavoriteAd" />
		<mapping class="com.myshopnshare.core.domain.Contact" />
		<mapping class="com.myshopnshare.core.domain.ScribbleTag" />
		<mapping class="com.myshopnshare.core.domain.JournalTag" />
		<mapping class="com.myshopnshare.core.domain.Journal" />
		<mapping class="com.myshopnshare.core.domain.JournalVisibility" />
		<mapping class="com.myshopnshare.core.domain.CartItem" />
		<mapping class="com.myshopnshare.core.domain.Education" />
		<mapping class="com.myshopnshare.core.domain.Employer" />
		<mapping class="com.myshopnshare.core.domain.Profile" />
		<mapping class="com.myshopnshare.core.domain.Institution" />
		<mapping class="com.myshopnshare.core.domain.Employment" />
		<mapping class="com.myshopnshare.core.domain.Merchant" />
		<mapping class="com.myshopnshare.core.domain.Customize" />
		<mapping class="com.myshopnshare.core.domain.EventVisibility" />
		<mapping class="com.myshopnshare.core.domain.EventTag" />
		<mapping class="com.myshopnshare.core.domain.Rating" />
		<mapping class="com.myshopnshare.core.domain.FriendVisibility" />
		<mapping class="com.myshopnshare.core.domain.PointItem" />
		<mapping class="com.myshopnshare.core.domain.RewardCart" />
		<mapping class="com.myshopnshare.core.domain.PointItemOrderDetail" />
		<mapping class="com.myshopnshare.core.domain.AcceptPerson" />
		<mapping class="com.myshopnshare.core.domain.ConsideringPerson" />
		<mapping class="com.myshopnshare.core.domain.DeclinePerson" />
		<mapping class="com.myshopnshare.core.domain.GuestPerson" />
		<mapping class="com.myshopnshare.core.domain.Counter" />
		<mapping class="com.myshopnshare.core.domain.IpAddress" />
		<mapping class="com.myshopnshare.core.domain.EventsComment" />
		<mapping class="com.myshopnshare.core.domain.PermissionPermissionVisibility" />
		<mapping class="com.myshopnshare.core.domain.PermissionVisibilityPerson" />
		<mapping class="com.myshopnshare.core.domain.GroupPerson" />
		<mapping class="com.myshopnshare.core.domain.VisibilityDomainPerson" />
		<mapping class="com.myshopnshare.core.domain.ItemRating" />
		<mapping class="com.myshopnshare.core.domain.Advice" />
		<mapping class="com.myshopnshare.core.domain.Balance" />
		<mapping class="com.myshopnshare.core.domain.LineItemDetail" />
		<mapping class="com.myshopnshare.core.domain.Vote" />
		<mapping class="com.myshopnshare.core.domain.LineItemDetail" />
		<mapping class="com.myshopnshare.core.domain.Vote" />		
		<!--  <mapping class="com.myshopnshare.core.domain.User"/>-->
	</session-factory>
</hibernate-configuration>